<div id="nav-container">
    <div id="nav-announcement">
        <ul class="announcement-flex flex">
            <a  class="nav-brand-flex flex" href={{@blog.url}}>
                <li>
                    <img src="{{asset "images/icons/how-to-ghost_brand.png"}}" \>
                    <div id="nav-site-title">{{@blog.title}}</div>
                </li>
            </a>
            <li class="flex-one top-menu-items flex">
                <a href="/beginners" class="flex flex-center">
                    <img src="{{asset "images/icons/ghost-for-beginners_logo.svg"}}"/>Beginners
                </a>
            </li>
            <li class="flex-one top-menu-items flex">
                <a href="/tag/theming" class="flex flex-center">
                    <img src="{{asset "images/icons/all-ghost-themes_logo.svg"}}"/>Theming
                </a>
            </li>
            <li class="flex-one top-menu-items flex">
                <a href="/tag/developer" class="flex flex-center">
                    <img src="{{asset "images/icons/all-about-ghost_logo.svg"}}"/>Developing
                </a>
            </li>
            <li class="flex-one top-menu-items flex">
                <a href="/themes" class="flex flex-center">
                    <img src="{{asset "images/icons/how-to-install-ghost_logo.svg"}}"/>Themes List
                    </a>
            </li>
            <li id="site-search" class="flex-one top-menu-items flex" style="display:none;">
                <input class="typeahead" type="text" placeholder="Search">
            </li>
        </ul>
    </div>

    <div id="guides-nav">
        <a href="/beginners" class="guides-flex flex">
            <li id="guides-main" class="flex flex-one flex-center">
                Beginner's Guide to Ghost
            </li>
            <li id="guides-separator"></li>
            <li id="guides-text" class="flex flex-one flex-center">
                Get a Ghost blog up and running in just a few minutes
            </li>
            <li id="guides-separator"></li>
            <li id="guide-arrow" class="flex flex-center">
                <img src="{{asset "images/icons/how-to-install-ghost_logo.png"}}">
            </li>
        </a>
    </div>

    <script>
        // $('.guides-flex').click(function() {
        //     if ($('#guide-arrow img').css("transform") === "none") {
        //         $('#guide-arrow img').css("transform", "rotate(90deg)");
        //         $('.main-nav').slideDown(1000);
        //     } else {
        //         $('#guide-arrow img').css("transform", "");
        //         $('.main-nav').slideUp(1000);
        //     }
            
        // });
    </script>

    {{!-- <div class="main-nav">
        <div class="main-nav-flex flex">
            <li class="flex flex-one flex-center">
                Host Ghost
            </li>
            <li class="flex flex-one flex-center">
                Install Ghost
            </li>
            <li class="flex flex-one flex-center">
                Guides
            </li>
        </div>
    </div> --}}
</div>

<script type="text/javascript" src="{{asset "js/corejs-typeahead.min.js"}}"></script>
<script>

    //Wait for other things to be loaded so the site doesn't wait on the search
    $(document).ready(function() {
        //Go grab all the posts on the blog, but only the slug and title fields
        //That helps limit the amount of data sent and stored locally
        $.get(ghost.url.api('posts', {limit: "all", fields: "slug,title"})).done(function(data) {
            //add all the data returned to a variable
            var searchData = data.posts; 

            //New bloodhound to make it searchable
            var search = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              local: searchData
            });

            //Build the typeahead
            $('#site-search .typeahead').typeahead({
                hint: false,
                highlight: true,
                minLength: 1,
                limit: 10
            }, {
                name: 'search',
                //source is the bloodhound variable
                source: search,
                limit: 10,
                templates: {
                    empty: [
                        '<div class="empty-message">',
                        'unable to find any post that match the current query',
                        '</div>'
                    ].join('\n'),
                    suggestion: function(data) {
                        return '<p class="flex"><a href=/' + data.slug + '>' + data.title + '</a></p>';
                    }
                }
            }); 

            //Now show the search bar since getting data was successful
            $('#site-search').show();
        }).fail(function() {
            //If the get request errors out, put an error in the console
            console.log("Error getting Ghost API Data");
        });
    });
</script>