<!DOCTYPE html>
<html lang="en-US">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <script type="text/javascript" src={{asset "bower_components/jquery/dist/jquery.min.js"}}></script>
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">

    {{navigation}}

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{> footer}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! Styles'n'Scripts }}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,600,400,300|Source+Sans+Pro|Ubuntu" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/fluidbox/dist/css/fluidbox.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/remodal/dist/remodal.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/remodal/dist/remodal-default-theme.css"}}" />

    <script type="text/javascript" src={{asset "bower_components/fluidbox/dist/js/jquery.fluidbox.min.js"}}></script>
    <script type="text/javascript" async src={{asset "bower_components/remodal/dist/remodal.min.js"}}></script>
    <script>
        $('.post-content a, .post a').fluidbox({
            viewportFill: 0.8,
        });
    </script>
    <noscript>Your browser does not support JavaScript</noscript>
</body>
</html>
