<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,600,400,300|Source+Sans+Pro|Ubuntu" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/design.css"}}" />
    <script type="text/javascript" src={{asset "js/jquery.min.js"}}></script>
    <script> //Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43854863-4', 'ghostforbeginners.com');
      ga('send', 'pageview');

    </script>

<nav class="navbar navbar-default nav-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar nav-blog-name">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{@blog.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#getting-started">Basics</a></li>
        <li><a href="/theming">Theming</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/resources">Resources</a></li>
        <li id="twitter-menu"><a href="http://twitter.com/howtoghost"><img src="{{asset "images/twitter.png"}}"></img></a></li>
        <li id="facebook-menu"><a href="http://facebook.com/howtoghost"><img src="{{asset "images/facebook.png"}}"></img></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->


    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <div class="col-sm-3">
            <div class="footer-wrapper">
                <h4 class="footer-header"><a href="/resources">Resource Page</a></h4>
                <hr class="footer-hr">
                <p>Check out our resource page for a list of all the resources we use to make this Ghost training site.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer-wrapper">
                <a href="/about"><h4 class="footer-header">About Us</h4></a>
                <hr class="footer-hr">
                <p>Learn all about our background with Ghost and how/why we decided to create this website.</p>                
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer-wrapper">
                <h4 class="footer-header">Our Other Sites</h4>
                <hr class="footer-hr">
                <p><a href="http://howtoinstallghost.com">How to Install Ghost</a></p>
                <p><a href="http://allaboutghost.com">All About Ghost</a></p>
                <p><a href="http://allghostthemes.com">All Ghost Themes</a></p>              
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer-wrapper">
                <h4 class="footer-header"><a href="/contact">Contact Us</a></h4>
                <hr class="footer-hr">
                <p>Twitter: <a href="http://twitter.com/howtoghost">@howtoghost</a></p>
                <p>Email: info@ghostforbeginners.com</p>
            </div>
        </div>
            <br style="clear:both">
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>

<!-- ClickTale Bottom part -->

<script type='text/javascript'>
// The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
// 
//   function ClickTalePreRecordingHook() { /* place your customized code here */  }
//
// For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

document.write(unescape("%3Cscript%20src='"+
(document.location.protocol=='https:'?
"https://cdnssl.clicktale.net/www02/ptc/3c40a5d7-c26c-40ae-8762-fc92518419de.js":
"http://cdn.clicktale.net/www02/ptc/3c40a5d7-c26c-40ae-8762-fc92518419de.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- ClickTale end of Bottom part -->


</body>
</html>
