{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

<div class="wrapper flex-wrapper">
    <div id="content" class="flex-content home-content">
        <div class="home-section flex-vertical">
            <h3 class="home-header">Popular Guides</h3>
            <div class="home-popular-container flex">
                {{#get "posts" limit="2" page="1" filter="tag:home-page-guide"}}
                    {{#foreach posts}}
                    <a href="/{{slug}}" class="home-popular-item flex flex-one">
                        <img alt="Post Cover Image" class="home-post-img" src="{{img_url feature_image}}?w=200">
                        <div class="home-popular-desc flex-one">
                            <div class="home-popular-title">{{title}}</div>
                            <div class="home-popular-meta">{{meta_description}}</div>
                        </div>
                    </a>
                    {{/foreach}}
                {{/get}}
            </div>
            <div class="home-popular-container flex">
                {{#get "posts" limit="2" page="2" filter="tag:home-page-guide"}}
                    {{#foreach posts}}
                    <a href="/{{slug}}" class="home-popular-item flex flex-one">
                        <img alt="Post Cover Image" class="home-post-img" src="{{img_url feature_image}}?w=200">
                        <div class="home-popular-desc flex-one">
                            <div class="home-popular-title">{{title}}</div>
                            <div class="home-popular-meta">{{meta_description}}</div>
                        </div>
                    </a>
                    {{/foreach}}
                {{/get}}
            </div>
            <div class="home-popular-container flex">
                {{#get "posts" limit="2" page="3" filter="tag:home-page-guide"}}
                    {{#foreach posts}}
                    <a href="/{{slug}}" class="home-popular-item flex flex-one">
                        <img alt="Post Cover Image" class="home-post-img" src="{{img_url feature_image}}?w=200">
                        <div class="home-popular-desc flex-one">
                            <div class="home-popular-title">{{title}}</div>
                            <div class="home-popular-meta">{{meta_description}}</div>
                        </div>
                    </a>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
        <div class="home-section flex-vertical">
            <h3 class="home-header">Awesome Themes</h3>
            <div class="home-themes-container flex">
                <a href="https://www.hauntedthemes.com/" class="home-theme-item flex-vertical flex-one">
                    <img alt="Image of theme demo" class="home-theme-img" src="/content/images/2018/06/poveglia-cover.jpg?w=250">
                    <div class="home-theme-desc">
                        <div class="home-theme-title">Poveglia</div>
                        <div class="home-theme-meta">Poveglia is multipurpose, clean, responsive and SEO ready Ghost Theme, developed by Haunted Themes, that can be used for any type of blog.</div>
                    </div>
                </a>
            {{#get "posts" limit="2" filter="tag:home-page-theme"}}
                {{#foreach posts}}
                <a href="/{{slug}}" class="home-theme-item flex-vertical flex-one">
                    {{#if feature_image}}
                    <img alt="Image of theme demo" class="home-theme-img" src="{{img_url feature_image}}?w=250">
                    {{else}}
                    <img alt="Image of theme demo" class="home-theme-img" src='//cdn.allghostthemes.com/assets/images/{{title}}.jpg'>
                    {{/if}}
                    <div class="home-theme-desc">
                        <div class="home-theme-title">{{title}}</div>
                        <div class="home-theme-meta">{{meta_description}}</div>
                    </div>
                </a>
                {{/foreach}}
            {{/get}}
            </div>
        </div>
        <hr class="home-hr">
        <div class="home-section flex home-articles-hosting">
            <div class="home-articles-container flex-vertical flex-one">
                <h3 class="home-header">Recent Articles</h3>
                {{#get "posts" limit="5" include="author,tags" filter="tags:beginners,tags:developer,tags:blog"}}
                    {{#foreach posts}}
                    <a href="/{{slug}}" class="home-recent-item flex flex-one">
                        {{#if feature_image}}
                        <img alt="Post Cover Image" class="home-post-img" src="{{img_url feature_image}}?w=200">
                        {{/if}}
                        <div class="home-recent-desc">
                            <div class="home-recent-title">{{title}}</div>
                            <div class="home-recent-meta">{{meta_description}}</div>
                        </div>
                    </a>
                    {{/foreach}}
                {{/get}}
            </div>
        {{!-- </div> --}}

            <div class="vertical-hr"></div>
        {{!-- <div class="home-section flex-vertical"> --}}
            <div class="home-hosting-container flex-vertical">
                <h3 class="home-header home-hosting-header">Best Place to Host Ghost</h3>
                <div class="home-hosting-hosts">
                    <a href="/how-to-host-ghost-on-ghost-org" class="home-hosting-item flex-vertical flex-one">
                        <div class="home-hosting-img">
                            <img alt="Ghost Pro Logo" src="{{asset "images/GhostPro_logo.png"}}">
                        </div>
                        <div class="home-hosting-desc">
                            <h5>Most Painless</h5>
                            <div class="home-hosting-meta">By far the easiest place to host your Ghost blog. Takes only 30 seconds to get setup and all maintenance and updates are done by the Ghost team themselves. All you have to worry about is the writing. Plus, you can support the Ghost project directly.</div>
                        </div>
                    </a>
                    <hr class="home-hr">
                    <a href="/how-to-install-ghost-on-digitalocean/" class="home-hosting-item flex-vertical flex-one">
                        <div class="home-hosting-img">
                            <img alt="DigitalOcean Logo" src="{{asset "images/DigitalOcean_logo.png"}}">
                        </div>
                        <div class="home-hosting-desc">
                            <h5>Most Flexible</h5>
                            <div class="home-hosting-meta">This is where this site is hosted. DigitalOcean is fast and extremely reliable. With a one-click install of Ghost, you can get up and running in just 55 seconds. As a VPS, it will take some maintenance and tweaking by yourself. Get $10 of free credit by going through our link on the next page.</div>
                        </div>
                    </a>
                    <hr class="home-hr">
                    <a href="/how-to-install-ghost-on-a-small-orange/" class="home-hosting-item flex-vertical flex-one">
                        <div class="home-hosting-img">
                            <img alt="ASmallOrange Logo" src="{{asset "images/aso_logo.png"}}">
                        </div>
                        <div class="home-hosting-desc">
                            <h5>Cheapest Pricing</h5>
                            <div class="home-hosting-meta">ASmallOrange is the cheapest place we have seen to host Ghost. At only $3 a month, can host your blog reliably for extremely cheap. It is shared hosting, so the performance may not be that of DigitalOcean and the updates may not be as fast as Ghost(Pro), but a great place to host on a budget.</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{> "sidebar"}}    
</div>
</main>