{{!< default}}

<main class="content" role="main">
    <div class="main-theme-head">
        <h2 class="define-header">Ghost Theming for Beginners</h2>
        <p class="define-content">This section of Ghost for beginners is a comprehensive overview of the Ghost theming strucutre and style. Here you can learn the basics of how it all works, or can dive into the many code examples we have. We are striving to cover as many areas that we can think of, but if you have something you think we should add, or ways we can improve some articles, please reach out and let us know.</p>
        <br style="clear:both">
    </div>
    <div class="main-sections">
        <div class="sections">
            <h2 id="new-to-ghost-theming" class="sections-header">New to Ghost Theming</h2>
            <div class="section-posts">
                <a href="/ghost-themes-overview">
                    <div class="section-post">
                        <table class="section-table">
                            <tr>
                                <td class="section-post-inside">
                                    <h4 class="section-post-header">Theming Overview</h4>
                                    <p class="section-post-paragraph">An overview of Ghost Theming</p>
                                </td>
                                <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                            </tr>
                        </table>
                        <table class="start-here">
                            <tr>
                                <td id="new-to-ghost">New to Ghost Theming? Start here!</td>
                                <td><img src="{{asset "images/Arrow.png"}}"></img></td>
                            </tr>
                        </table>
                    </div>
                </a>
                <a href="/ghost-theme-structure">
                    <div class="section-post">
                        <table class="section-table">
                            <tr>
                                <td class="section-post-inside">
                                    <h4 class="section-post-header">Theme Structure</h4>
                                    <p class="section-post-paragraph">A look into the structure of creating a Ghost theme</p>
                                </td>
                                <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                            </tr>
                        </table>
                    </div>
                </a>
                <a href="/ghost-handlebars-overview">
                    <div class="section-post">
                         <table class="section-table">
                            <tr>
                                <td class="section-post-inside">
                                    <h4 class="section-post-header">Handlebars Overview</h4>
                                    <p class="section-post-paragraph">What is handlebars and how you use it with Ghost</p>
                                </td>
                                <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>

            <div class="sections">
                <h2 id="post-basics" class="sections-header">Getting Started</h2>
                <div class="section-posts">
                    <a href="/where-to-start-with-ghost-themes">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Where to Start</h4>
                                        <p class="section-post-paragraph">Where to start when creating a Ghost theme</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/setup-code-injection">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Setup Code Injection</h4>
                                        <p class="section-post-paragraph">Setup/Edit your theme to have the ability to use Ghost's built in code injection tool</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/creating-partials-files">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Creating Partials Files</h4>
                                        <p class="section-post-paragraph">Break out your code into partials files to reduce code duplication</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/how-to-add-bootstrap-to-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Bootstrap</h4>
                                        <p class="section-post-paragraph">Add bootstrap to your theme</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
            </div>

             <div class="sections">
                <h2 id="multi-user" class="sections-header">Layout Changes</h2>
                <div class="section-posts">
                    <a href="/how-to-add-a-menu-to-your-ghost-blog">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Adding a Menu</h4>
                                        <p class="section-post-paragraph">How to add a basic menu to your theme</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/add-a-fixed-sidebar-to-your-ghost-blog">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add a Fixed Sidebar</h4>
                                        <p class="section-post-paragraph">Add a fixed sidebar to your Ghost blog</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/custom-pagination">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add or Change Customize Pagination</h4>
                                        <p class="section-post-paragraph">Add or change the pagination button</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/how-to-change-post-excerpt-length">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Post Excerpt Length</h4>
                                        <p class="section-post-paragraph">Change the length of the post excerpt</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/custom-featured-post-styling">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Custom Featured Post Styling</h4>
                                        <p class="section-post-paragraph">Style a featured post differently than other posts</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/how-to-style-certain-posts-differently-using-tags">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Style Posts Differently Using Tags</h4>
                                        <p class="section-post-paragraph">How to style some posts that contain a certain tag differently</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
            </div>
            
             {{!-- <div class="sections">
                <h2 id="migrating-to-ghost" class="sections-header">Custom Menus</h2>
                <div class="section-posts">
                    <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Slide in Menu</h4>
                                        <p class="section-post-paragraph">How to create and style a menu that slides in from the left or right</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Top Naviation Menu</h4>
                                        <p class="section-post-paragraph">Create a menu that sits at the top of the page</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Side Static Menu</h4>
                                        <p class="section-post-paragraph">Create a menu that sits on the side with posts next to it</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
            </div> --}}

            <div class="sections">
                <h2 id="finding-and-uploading-a-theme" class="sections-header">Blog Maintenance</h2>
                <a href="/how-to-add-a-favicon-to-your-ghost-blog">
                    <div class="section-posts">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Change Favicon</h4>
                                        <p class="section-post-paragraph">Change the favicon for your site</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/custom-static-pages">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Custom Static Page</h4>
                                        <p class="section-post-paragraph">Create a custom static page</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/custom-error-page">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Custom Error Page</h4>
                                        <p class="section-post-paragraph">Create a custom 404 error page</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/custom-home-page">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Custom Home Page</h4>
                                        <p class="section-post-paragraph">Create a home page that differs when pagination is used</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Custom Email Subscriber Page</h4>
                                        <p class="section-post-paragraph">Create a custom page for when someone subscribes to your email list</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Tag Filtering</h4>
                                        <p class="section-post-paragraph">How to filter what is shown by specific tags</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                </div>
            </div>

            <div class="sections">
                <h2 id="migrating-to-ghost" class="sections-header">Comments</h2>
                <div class="section-posts">
                    <a href="/how-to-enable-comments-on-a-ghost-blog">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Disqus Comments</h4>
                                        <p class="section-post-paragraph">How to setup comments on your Ghost blog using disqus</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/add-comments-to-ghost-using-livefyre">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Livefyre Comments</h4>
                                        <p class="section-post-paragraph">Add comments to Ghost using Livefyre</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Discourse Comments</h4>
                                        <p class="section-post-paragraph">Add comments using a Discourse backend</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Nodebb Comments</h4>
                                        <p class="section-post-paragraph">Add comments to Ghost with a Nodebb backend</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                </div>
            </div>

            <div class="sections">
                <h2 id="backing-up-ghost" class="sections-header">Custom Additions</h2>
                <div class="section-posts">
                    <a href="/display-post-images-on-home-page">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Display Post Images</h4>
                                        <p class="section-post-paragraph">Display an image from a post on the home page</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/add-an-image-lightbox-to-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Lightbox Images</h4>
                                        <p class="section-post-paragraph">Have your images show up in a lightbox when clicked</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/add-numbered-pagination-to-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Numbered Pagination to Ghost</h4>
                                        <p class="section-post-paragraph">Have a fully numbered pagination (ex. 1, 2, 3)</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Author to Home Page</h4>
                                        <p class="section-post-paragraph">Add the name of the author before each post on the home page</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    <a href="/add-post-tags-to-home-page">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Post Tags to Home Page</h4>
                                        <p class="section-post-paragraph">Add the post tags before each post on the home page</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/how-to-add-google-analytics-to-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Google Analytics</h4>
                                        <p class="section-post-paragraph">Insert Google Analytics into your Ghost blog to track visitors</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/add-google-webmaster-tools-to-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Google Webmaster Tools</h4>
                                        <p class="section-post-paragraph">Setup Google Webmaster Tools to see how people are getting to your site</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/how-to-add-google-adsense-to-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Google Adsense</h4>
                                        <p class="section-post-paragraph">Insert Google Adsense to help monetize your blog</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
            </div>

            <div class="sections">
                <h2 id="backing-up-ghost" class="sections-header">Searching</h2>
                <div class="section-posts">
                    <a href="/how-to-add-a-search-box-to-your-ghost-blog">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Search using Google Search</h4>
                                        <p class="section-post-paragraph">How to add search to your site using Google's search functionality</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/adding-search-to-ghost-using-ghosthunter">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Search using ghostHunter</h4>
                                        <p class="section-post-paragraph">How to add search to your site using ghostHunter</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/add-search-to-ghost-using-swiftype">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Search using Swiftype</h4>
                                        <p class="section-post-paragraph">How to add search to your site using Swiftype</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Search using Tapir</h4>
                                        <p class="section-post-paragraph">Add search to your site using Tapir</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                </div>
            </div>

            <div class="sections">
                <h2 id="theme-basics" class="sections-header">Code Productivity</h2>
                <div class="section-posts">
                    <a href="/using-bower-with-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Using Bower with Ghost</h4>
                                        <p class="section-post-paragraph">How to add and maintain Ghost theme assets with Bower</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/using-sass-with-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Using Sass with Ghost</h4>
                                        <p class="section-post-paragraph">How to use Sass styling with Ghost</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
            </div>

             <div class="sections">
                <h2 id="example-theme-changes" class="sections-header">Social Media</h2>
                <div class="section-posts">
                    <a href="/how-to-embed-a-twitter-feed-into-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Embed Twitter Feed</h4>
                                        <p class="section-post-paragraph">Embed a twitter feed into your theme</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    <a href="/embed-an-instagram-feed-to-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Embed Instagram Feed</h4>
                                        <p class="section-post-paragraph">Embed a Instagram feed into your theme</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Embed Instagram Feed</h4>
                                        <p class="section-post-paragraph">Embed an Instagram feed into your theme</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Embed Pinterest</h4>
                                        <p class="section-post-paragraph">Embed Pinterest posts into your theme</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Add Email Subscription Form</h4>
                                        <p class="section-post-paragraph">Add a Mailchimp email subscription form to Ghost</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    {{!-- <a href="/">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Adding a Double Opt-In Button</h4>
                                        <p class="section-post-paragraph">Add a double opt-in email form button to Ghost</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    <a href="/how-to-add-floating-share-buttons">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Floating Social Media Sharing</h4>
                                        <p class="section-post-paragraph">Add floating social media sharing icons to the side of your post pages</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a>
                    {{!-- <a href="how-to-change-post-excerpt-length">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">End of Post Social Media Sharing</h4>
                                        <p class="section-post-paragraph">Add social media sharing icons to the end of a post</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                    {{!-- <a href="how-to-embed-a-twitter-feed-into-ghost">
                        <div class="section-post">
                            <table class="section-table">
                                <tr>
                                    <td class="section-post-inside">
                                        <h4 class="section-post-header">Link to Your Social Media</h4>
                                        <p class="section-post-paragraph">How to add links to your social media to get more followers</p>
                                    </td>
                                    <td class="section-post-image"><img src="{{asset "images/right_arrow.png"}}"></img></td>
                                </tr>
                            </table>
                        </div>
                    </a> --}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</main>