{{!< default}}

<main class="content" role="main">

<div class="wrapper flex-wrapper">
    <div id="content" class="flex-content tag-content">
        <div class="tag-section flex-vertical">
        {{#tag}}
            <h3>{{description}}</h3>
        {{/tag}}
            {{#foreach posts}}
            <div class="home-popular-container flex">
                <a href="{{slug}}" class="home-popular-item flex flex-one">
                    {{#if image}}<img class="home-popular-img" src="{{image}}">{{/if}}
                    <div class="home-popular-desc">
                        <div class="home-popular-title">{{title}}</div>
                        <div class="home-popular-meta">{{meta_description}}</div>
                    </div>
                </a>
            </div>
            {{/foreach}}

            {{pagination}}
        </div>
    </div>
    {{> "sidebar"}}    
</div>


    {{!! After all the posts, we have the previous/next pagination links }}
    

</main>